/*永远的神*/
@keyframes rainbow{to{filter:hue-rotate(360deg)}}
.jinsom-honor-永远的神 {
    background: linear-gradient( 315deg,#63a4ff 0,#83eaf1 74%) !important;
    animation: rainbow 3s infinite linear;
    color: #fff;
    font-family: 'Parisienne',cursive;
}

/*高质量男头衔*/
.jinsom-honor-高质量男 {
    background: linear-gradient( 322deg, #03a9f4, #f441a5, #ffeb3b, #ff2727) !important;
    background-size: 100% !important;
    animation: rainbow .3s infinite linear;
    color: #fff;
}

/*LS+会员组头衔*/
.jinsom-bbs-single-box .left .info>div.honor .jinsom-honor-LS\+ {
    left: 0;
    right: 0;
    margin: auto;
}
.jinsom-member-username .jinsom-honor-LS\+ ,.app-author-widget-content .app-author-name  .jinsom-honor-LS\+{transform: translateY(5px);}
.jinsom-ranking-page-top li .name .jinsom-honor-LS\+ {transform: translateY(3px);}
.jinsom-member-left-honor li.jinsom-honor-LS\+ {
    position: relative;
    padding: 0;
    border: 0;
    height: 18px;
    width: 50px;
    line-height: 18px;
    border-radius: 10px;
    color: #fff;
    transform: translateY(5px);
}

@keyframes yxyhxa {0% { transform:rotate(0deg);}50% { transform:rotate(360deg);}100% { transform:rotate(0deg);}}
@keyframes yxyhxb {0% {opacity: 0;}50% {opacity: 1;}100% {opacity: 0;}}
.jinsom-honor-LS\+ {
    width: 35px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background: #ff4d4d!important;
    vertical-align: -4px;
}
.jinsom-honor-LS\+:before {
    content: "";
    display: inline-block;
    height: 5px;
    top: calc(50% - 3px);
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(255 255 255 / 0.5);
    position: absolute;
    -webkit-animation: yxyhxa 3s infinite;
    animation: yxyhxa 3s infinite;
    z-index: 2;
}

.jinsom-honor-LS\+:after {
    content: "会员组";
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    background: #2d74f3;
    border-radius: 10px;
  -webkit-animation: yxyhxb 3s infinite;
    animation: yxyhxb 3s infinite;
}




/*头部溢出*/
.jinsom-menu>ul>li>a {
    padding: 0 13px;
}

/*认证图标*/
.jinsom-post-like-list .jinsom-custom-verify {
    background-size: 16px !important;
}
.jinsom-post-single-bar li a i.jinsom-custom-verify {
    bottom: -2px;
    right: -1px;
}

/*菜单关注小红点*/
.jinsom-index-menu li>i {
    width: 5px;
    height: 5px;
    background-color: #FF5722;
    position: absolute;
    border-radius: 100%;
    top: 5px;
}
.jinsom-index-menu li.on>i, .jinsom-index-menu li:hover>i {
    background-color: #fff;
}




/*头衔2021*/
@keyframes yxyh2021{0%{transform: rotate(-4deg);}50%{transform: rotate(4deg);}100%{transform: rotate(-4deg);}}
@-webkit-keyframes yxyh2021{0%{-webkit-transform: rotate(-4deg);}50%{-webkit-transform: rotate(4deg);}100%{-webkit-transform: rotate(-4deg);}}
.jinsom-honor-2021 {
    background: url(../../../images/2021.png)!important;
    background-size: 100% 100%!important;
    width: 55px;
    color: rgb(255 0 0 / 0%);
    animation-name: yxyh2021;
    -webkit-animation-name: yxyh2021;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}








@keyframes yxyha {from {transform: scale3d(1, 1, 1);}30% {transform: scale3d(1.25, 0.75, 1);}40% {transform: scale3d(0.75, 1.25, 1);}50% {transform: scale3d(1.15, 0.85, 1);}65% {transform: scale3d(.95, 1.05, 1);}75% {transform: scale3d(1.05, .95, 1);}to {transform: scale3d(1, 1, 1);}}
#jinsom-honor-14184 x,.jinsom-honor-小杜鸡长 x {color: #fff;display: inline-block;animation-name: yxyha;animation-duration: 1s;animation-fill-mode: both;animation-iteration-count: infinite;margin-right: 2px;background: #ff4d4d;width: 16px;border-radius: 9px;padding: 0 1px;height: 16px;line-height: 16px; font-size: 10px;text-align: center;}#jinsom-honor-14184 x:nth-child(1),.jinsom-honor-小杜鸡长 x:nth-child(1) {animation-delay: 0.0s }#jinsom-honor-14184 x:nth-child(2),.jinsom-honor-小杜鸡长 x:nth-child(2) {animation-delay: 0.1s }#jinsom-honor-14184 x:nth-child(3),.jinsom-honor-小杜鸡长 x:nth-child(3) {animation-delay: 0.2s }#jinsom-honor-14184 x:nth-child(4),.jinsom-honor-小杜鸡长 x:nth-child(4) {animation-delay: 0.3s }
#jinsom-honor-14184 {background: none!important;padding: 0;}
li.jinsom-honor-小杜鸡长 {background: none;border: unset;}
[href$="14184"]+span.jinsom-lv, [href$="14184"]~span.jinsom-vip {display: none;}





@keyframes burn{0%{-webkit-clip-path: polygon(51% 94%, 44% 93%, 40% 92%, 35% 89%, 31% 83%, 32% 77%, 34% 71%, 38% 62%, 38% 55%, 38% 47%, 42% 52%, 45% 56%, 45% 53%, 45% 47%, 45% 42%, 46% 40%, 49% 35%, 50% 44%, 51% 49%, 54% 54%, 56% 59%, 58% 62%, 59% 56%, 60% 52%, 63% 57%, 63% 62%, 61% 68%, 63% 72%, 65% 77%, 67% 81%, 66% 86%, 63% 90%, 60% 92%); clip-path: polygon(51% 94%, 44% 93%, 40% 92%, 35% 89%, 31% 83%, 32% 77%, 34% 71%, 38% 62%, 38% 55%, 38% 47%, 42% 52%, 45% 56%, 45% 53%, 45% 47%, 45% 42%, 46% 40%, 49% 35%, 50% 44%, 51% 49%, 54% 54%, 56% 59%, 58% 62%, 59% 56%, 60% 52%, 63% 57%, 63% 62%, 61% 68%, 63% 72%, 65% 77%, 67% 81%, 66% 86%, 63% 90%, 60% 92%);} 25%{-webkit-clip-path: polygon(49% 97%, 41% 97%, 35% 92%, 33% 86%, 34% 80%, 30% 74%, 34% 77%, 38% 81%, 38% 78%, 36% 72%, 35% 67%, 37% 61%, 37% 54%, 39% 61%, 39% 67%, 43% 63%, 43% 58%, 45% 44%, 44% 58%, 48% 66%, 51% 67%, 51% 59%, 54% 67%, 56% 72%, 57% 79%, 59% 77%, 60% 71%, 61% 77%, 61% 83%, 60% 89%, 61% 94%, 57% 97%, 52% 98%); clip-path: polygon(49% 97%, 41% 97%, 35% 92%, 33% 86%, 34% 80%, 30% 74%, 34% 77%, 38% 81%, 38% 78%, 36% 72%, 35% 67%, 37% 61%, 37% 54%, 39% 61%, 39% 67%, 43% 63%, 43% 58%, 45% 44%, 44% 58%, 48% 66%, 51% 67%, 51% 59%, 54% 67%, 56% 72%, 57% 79%, 59% 77%, 60% 71%, 61% 77%, 61% 83%, 60% 89%, 61% 94%, 57% 97%, 52% 98%);} 50%{-webkit-clip-path: polygon(46% 97%, 39% 96%, 35% 89%, 36% 84%, 34% 77%, 30% 73%, 30% 65%, 30% 70%, 35% 75%, 38% 68%, 37% 61%, 40% 53%, 41% 42%, 42% 56%, 44% 65%, 50% 67%, 51% 57%, 53% 68%, 52% 74%, 51% 81%, 55% 78%, 57% 72%, 58% 79%, 57% 85%, 55% 88%, 60% 87%, 63% 82%, 63% 89%, 59% 94%, 55% 98%, 51% 92%, 50% 99%, 45% 96%); clip-path: polygon(46% 97%, 39% 96%, 35% 89%, 36% 84%, 34% 77%, 30% 73%, 30% 65%, 30% 70%, 35% 75%, 38% 68%, 37% 61%, 40% 53%, 41% 42%, 42% 56%, 44% 65%, 50% 67%, 51% 57%, 53% 68%, 52% 74%, 51% 81%, 55% 78%, 57% 72%, 58% 79%, 57% 85%, 55% 88%, 60% 87%, 63% 82%, 63% 89%, 59% 94%, 55% 98%, 51% 92%, 50% 99%, 45% 96%);} 75%{-webkit-clip-path: polygon(45% 97%, 38% 97%, 33% 93%, 31% 87%, 31% 81%, 29% 76%, 25% 69%, 29% 61%, 30% 69%, 35% 71%, 35% 62%, 34% 54%, 38% 45%, 38% 54%, 43% 62%, 47% 57%, 48% 49%, 44% 38%, 50% 46%, 53% 60%, 54% 71%, 53% 79%, 59% 76%, 60% 66%, 64% 73%, 63% 79%, 59% 85%, 64% 90%, 68% 84%, 68% 92%, 60% 97%, 53% 98%, 48% 99%); clip-path: polygon(45% 97%, 38% 97%, 33% 93%, 31% 87%, 31% 81%, 29% 76%, 25% 69%, 29% 61%, 30% 69%, 35% 71%, 35% 62%, 34% 54%, 38% 45%, 38% 54%, 43% 62%, 47% 57%, 48% 49%, 44% 38%, 50% 46%, 53% 60%, 54% 71%, 53% 79%, 59% 76%, 60% 66%, 64% 73%, 63% 79%, 59% 85%, 64% 90%, 68% 84%, 68% 92%, 60% 97%, 53% 98%, 48% 99%);} 100%{-webkit-clip-path: polygon(48% 97%, 42% 97%, 37% 93%, 31% 92%, 28% 88%, 26% 81%, 29% 84%, 34% 84%, 33% 79%, 30% 74%, 31% 67%, 34% 57%, 34% 65%, 39% 71%, 43% 65%, 43% 55%, 40% 45%, 48% 59%, 49% 69%, 51% 76%, 55% 71%, 54% 65%, 54% 58%, 58% 64%, 61% 72%, 57% 82%, 61% 87%, 64% 78%, 66% 85%, 64% 93%, 57% 96%, 54% 93%, 48% 97%); clip-path: polygon(48% 97%, 42% 97%, 37% 93%, 31% 92%, 28% 88%, 26% 81%, 29% 84%, 34% 84%, 33% 79%, 30% 74%, 31% 67%, 34% 57%, 34% 65%, 39% 71%, 43% 65%, 43% 55%, 40% 45%, 48% 59%, 49% 69%, 51% 76%, 55% 71%, 54% 65%, 54% 58%, 58% 64%, 61% 72%, 57% 82%, 61% 87%, 64% 78%, 66% 85%, 64% 93%, 57% 96%, 54% 93%, 48% 97%);}}
@keyframes burn_alt{0%{-webkit-clip-path: polygon(48% 97%, 43% 97%, 38% 97%, 34% 94%, 33% 91%, 32% 87%, 29% 83%, 26% 80%, 21% 75%, 20% 71%, 20% 66%, 20% 59%, 20% 65%, 24% 68%, 28% 67%, 28% 62%, 25% 60%, 21% 52%, 21% 43%, 24% 32%, 23% 39%, 24% 46%, 28% 48%, 33% 44%, 33% 39%, 31% 32%, 28% 23%, 30% 14%, 31% 22%, 35% 28%, 39% 28%, 41% 25%, 40% 21%, 39% 13%, 41% 6%, 42% 15%, 45% 23%, 49% 25%, 52% 22%, 51% 13%, 54% 21%, 56% 29%, 53% 35%, 50% 41%, 53% 46%, 58% 46%, 60% 39%, 60% 34%, 64% 39%, 65% 45%, 63% 51%, 61% 56%, 64% 61%, 68% 59%, 71% 55%, 73% 48%, 73% 40%, 76% 48%, 77% 56%, 76% 62%, 74% 66%, 69% 71%, 71% 74%, 75% 74%, 79% 71%, 81% 65%, 82% 72%, 81% 77%, 77% 82%, 73% 86%, 73% 89%, 78% 89%, 82% 85%, 81% 91%, 78% 95%, 72% 97%, 65% 98%, 59% 98%, 53% 99%, 47% 97%); clip-path: polygon(48% 97%, 43% 97%, 38% 97%, 34% 94%, 33% 91%, 32% 87%, 29% 83%, 26% 80%, 21% 75%, 20% 71%, 20% 66%, 20% 59%, 20% 65%, 24% 68%, 28% 67%, 28% 62%, 25% 60%, 21% 52%, 21% 43%, 24% 32%, 23% 39%, 24% 46%, 28% 48%, 33% 44%, 33% 39%, 31% 32%, 28% 23%, 30% 14%, 31% 22%, 35% 28%, 39% 28%, 41% 25%, 40% 21%, 39% 13%, 41% 6%, 42% 15%, 45% 23%, 49% 25%, 52% 22%, 51% 13%, 54% 21%, 56% 29%, 53% 35%, 50% 41%, 53% 46%, 58% 46%, 60% 39%, 60% 34%, 64% 39%, 65% 45%, 63% 51%, 61% 56%, 64% 61%, 68% 59%, 71% 55%, 73% 48%, 73% 40%, 76% 48%, 77% 56%, 76% 62%, 74% 66%, 69% 71%, 71% 74%, 75% 74%, 79% 71%, 81% 65%, 82% 72%, 81% 77%, 77% 82%, 73% 86%, 73% 89%, 78% 89%, 82% 85%, 81% 91%, 78% 95%, 72% 97%, 65% 98%, 59% 98%, 53% 99%, 47% 97%);} 25%{-webkit-clip-path: polygon(44% 99%, 41% 99%, 35% 98%, 29% 97%, 24% 93%, 21% 86%, 20% 80%, 16% 74%, 16% 64%, 16% 71%, 21% 75%, 25% 72%, 25% 65%, 22% 59%, 19% 53%, 19% 44%, 21% 52%, 25% 59%, 29% 57%, 29% 51%, 26% 44%, 26% 38%, 30% 32%, 31% 26%, 30% 18%, 34% 25%, 33% 35%, 33% 44%, 34% 50%, 39% 53%, 44% 52%, 45% 49%, 44% 44%, 42% 38%, 44% 33%, 48% 26%, 45% 35%, 47% 41%, 50% 44%, 51% 52%, 49% 60%, 48% 65%, 53% 69%, 58% 65%, 57% 59%, 58% 51%, 62% 41%, 66% 40%, 64% 47%, 61% 58%, 63% 66%, 66% 68%, 70% 67%, 72% 62%, 73% 57%, 71% 48%, 75% 53%, 79% 57%, 79% 64%, 76% 70%, 72% 75%, 70% 78%, 74% 80%, 78% 79%, 82% 76%, 84% 71%, 85% 66%, 84% 62%, 88% 67%, 89% 72%, 89% 79%, 87% 83%, 84% 89%, 81% 93%, 76% 97%, 69% 98%, 60% 99%, 54% 99%, 48% 100%, 45% 97%); clip-path: polygon(44% 99%, 41% 99%, 35% 98%, 29% 97%, 24% 93%, 21% 86%, 20% 80%, 16% 74%, 16% 64%, 16% 71%, 21% 75%, 25% 72%, 25% 65%, 22% 59%, 19% 53%, 19% 44%, 21% 52%, 25% 59%, 29% 57%, 29% 51%, 26% 44%, 26% 38%, 30% 32%, 31% 26%, 30% 18%, 34% 25%, 33% 35%, 33% 44%, 34% 50%, 39% 53%, 44% 52%, 45% 49%, 44% 44%, 42% 38%, 44% 33%, 48% 26%, 45% 35%, 47% 41%, 50% 44%, 51% 52%, 49% 60%, 48% 65%, 53% 69%, 58% 65%, 57% 59%, 58% 51%, 62% 41%, 66% 40%, 64% 47%, 61% 58%, 63% 66%, 66% 68%, 70% 67%, 72% 62%, 73% 57%, 71% 48%, 75% 53%, 79% 57%, 79% 64%, 76% 70%, 72% 75%, 70% 78%, 74% 80%, 78% 79%, 82% 76%, 84% 71%, 85% 66%, 84% 62%, 88% 67%, 89% 72%, 89% 79%, 87% 83%, 84% 89%, 81% 93%, 76% 97%, 69% 98%, 60% 99%, 54% 99%, 48% 100%, 45% 97%);} 50%{-webkit-clip-path: polygon(45% 99%, 40% 98%, 34% 98%, 31% 96%, 28% 93%, 26% 89%, 27% 84%, 26% 81%, 23% 77%, 20% 73%, 18% 70%, 19% 65%, 19% 60%, 20% 53%, 20% 43%, 24% 41%, 28% 32%, 28% 40%, 28% 48%, 29% 53%, 33% 52%, 35% 49%, 36% 42%, 36% 35%, 36% 27%, 39% 19%, 42% 12%, 40% 23%, 39% 29%, 41% 37%, 43% 41%, 44% 47%, 45% 52%, 47% 55%, 50% 57%, 52% 54%, 53% 48%, 52% 42%, 51% 33%, 50% 26%, 54% 36%, 55% 39%, 57% 46%, 57% 52%, 55% 58%, 55% 61%, 58% 65%, 62% 64%, 64% 60%, 65% 54%, 64% 49%, 65% 43%, 68% 38%, 67% 44%, 69% 51%, 72% 53%, 72% 59%, 70% 65%, 68% 69%, 68% 74%, 71% 75%, 74% 73%, 76% 69%, 78% 63%, 82% 58%, 81% 63%, 81% 69%, 81% 75%, 76% 80%, 75% 85%, 79% 87%, 82% 84%, 83% 91%, 79% 94%, 75% 96%, 71% 97%, 64% 98%, 58% 99%, 53% 98%, 46% 100%); clip-path: polygon(45% 99%, 40% 98%, 34% 98%, 31% 96%, 28% 93%, 26% 89%, 27% 84%, 26% 81%, 23% 77%, 20% 73%, 18% 70%, 19% 65%, 19% 60%, 20% 53%, 20% 43%, 24% 41%, 28% 32%, 28% 40%, 28% 48%, 29% 53%, 33% 52%, 35% 49%, 36% 42%, 36% 35%, 36% 27%, 39% 19%, 42% 12%, 40% 23%, 39% 29%, 41% 37%, 43% 41%, 44% 47%, 45% 52%, 47% 55%, 50% 57%, 52% 54%, 53% 48%, 52% 42%, 51% 33%, 50% 26%, 54% 36%, 55% 39%, 57% 46%, 57% 52%, 55% 58%, 55% 61%, 58% 65%, 62% 64%, 64% 60%, 65% 54%, 64% 49%, 65% 43%, 68% 38%, 67% 44%, 69% 51%, 72% 53%, 72% 59%, 70% 65%, 68% 69%, 68% 74%, 71% 75%, 74% 73%, 76% 69%, 78% 63%, 82% 58%, 81% 63%, 81% 69%, 81% 75%, 76% 80%, 75% 85%, 79% 87%, 82% 84%, 83% 91%, 79% 94%, 75% 96%, 71% 97%, 64% 98%, 58% 99%, 53% 98%, 46% 100%);} 75%{-webkit-clip-path: polygon(45% 99%, 41% 99%, 35% 98%, 30% 98%, 25% 94%, 22% 89%, 21% 84%, 23% 77%, 23% 70%, 19% 63%, 23% 66%, 27% 71%, 28% 76%, 32% 78%, 35% 72%, 32% 67%, 28% 64%, 24% 58%, 24% 49%, 27% 42%, 30% 34%, 31% 24%, 29% 13%, 33% 18%, 38% 25%, 38% 36%, 37% 44%, 41% 48%, 45% 48%, 48% 45%, 48% 39%, 46% 33%, 48% 27%, 52% 20%, 50% 29%, 51% 38%, 53% 44%, 54% 52%, 56% 57%, 61% 57%, 64% 55%, 65% 48%, 63% 39%, 63% 32%, 66% 37%, 69% 44%, 70% 52%, 68% 59%, 66% 64%, 67% 69%, 73% 72%, 76% 71%, 77% 66%, 76% 58%, 76% 51%, 80% 57%, 82% 62%, 82% 68%, 80% 73%, 77% 78%, 74% 82%, 75% 87%, 78% 87%, 81% 84%, 84% 79%, 86% 74%, 88% 78%, 87% 83%, 84% 89%, 82% 92%, 78% 97%, 74% 97%, 69% 97%, 66% 98%, 61% 98%, 57% 97%, 53% 99%, 49% 96%, 47% 99%, 48% 99%); clip-path: polygon(45% 99%, 41% 99%, 35% 98%, 30% 98%, 25% 94%, 22% 89%, 21% 84%, 23% 77%, 23% 70%, 19% 63%, 23% 66%, 27% 71%, 28% 76%, 32% 78%, 35% 72%, 32% 67%, 28% 64%, 24% 58%, 24% 49%, 27% 42%, 30% 34%, 31% 24%, 29% 13%, 33% 18%, 38% 25%, 38% 36%, 37% 44%, 41% 48%, 45% 48%, 48% 45%, 48% 39%, 46% 33%, 48% 27%, 52% 20%, 50% 29%, 51% 38%, 53% 44%, 54% 52%, 56% 57%, 61% 57%, 64% 55%, 65% 48%, 63% 39%, 63% 32%, 66% 37%, 69% 44%, 70% 52%, 68% 59%, 66% 64%, 67% 69%, 73% 72%, 76% 71%, 77% 66%, 76% 58%, 76% 51%, 80% 57%, 82% 62%, 82% 68%, 80% 73%, 77% 78%, 74% 82%, 75% 87%, 78% 87%, 81% 84%, 84% 79%, 86% 74%, 88% 78%, 87% 83%, 84% 89%, 82% 92%, 78% 97%, 74% 97%, 69% 97%, 66% 98%, 61% 98%, 57% 97%, 53% 99%, 49% 96%, 47% 99%, 48% 99%);} 100%{-webkit-clip-path: polygon(47% 99%, 42% 99%, 37% 98%, 32% 96%, 28% 92%, 26% 89%, 26% 83%, 26% 80%, 26% 72%, 23% 67%, 16% 63%, 14% 52%, 16% 46%, 16% 53%, 20% 60%, 26% 58%, 27% 51%, 25% 46%, 20% 41%, 19% 36%, 19% 30%, 21% 26%, 24% 20%, 23% 13%, 22% 7%, 26% 11%, 28% 17%, 28% 24%, 26% 30%, 30% 34%, 34% 34%, 39% 32%, 40% 27%, 38% 21%, 43% 28%, 43% 36%, 41% 41%, 46% 44%, 51% 41%, 53% 35%, 53% 26%, 57% 26%, 59% 33%, 60% 39%, 57% 46%, 55% 53%, 58% 57%, 64% 56%, 66% 52%, 69% 41%, 70% 48%, 69% 56%, 66% 63%, 64% 67%, 65% 71%, 70% 71%, 74% 68%, 76% 62%, 77% 54%, 79% 60%, 81% 66%, 80% 71%, 76% 75%, 72% 78%, 71% 82%, 75% 84%, 80% 83%, 84% 78%, 86% 83%, 83% 89%, 78% 92%, 74% 92%, 73% 96%, 69% 97%, 65% 96%, 62% 98%, 57% 99%, 54% 97%, 51% 99%, 46% 99%); clip-path: polygon(47% 99%, 42% 99%, 37% 98%, 32% 96%, 28% 92%, 26% 89%, 26% 83%, 26% 80%, 26% 72%, 23% 67%, 16% 63%, 14% 52%, 16% 46%, 16% 53%, 20% 60%, 26% 58%, 27% 51%, 25% 46%, 20% 41%, 19% 36%, 19% 30%, 21% 26%, 24% 20%, 23% 13%, 22% 7%, 26% 11%, 28% 17%, 28% 24%, 26% 30%, 30% 34%, 34% 34%, 39% 32%, 40% 27%, 38% 21%, 43% 28%, 43% 36%, 41% 41%, 46% 44%, 51% 41%, 53% 35%, 53% 26%, 57% 26%, 59% 33%, 60% 39%, 57% 46%, 55% 53%, 58% 57%, 64% 56%, 66% 52%, 69% 41%, 70% 48%, 69% 56%, 66% 63%, 64% 67%, 65% 71%, 70% 71%, 74% 68%, 76% 62%, 77% 54%, 79% 60%, 81% 66%, 80% 71%, 76% 75%, 72% 78%, 71% 82%, 75% 84%, 80% 83%, 84% 78%, 86% 83%, 83% 89%, 78% 92%, 74% 92%, 73% 96%, 69% 97%, 65% 96%, 62% 98%, 57% 99%, 54% 97%, 51% 99%, 46% 99%);}}
.jinsom-bbs-single-box .left .jinsom-honor-神 {transform: translateX(-15px);}
.jinsom-member-left-honor .jinsom-honor-神:before,.jinsom-member-left-honor .jinsom-honor-神:after{display: none;}






/*黑衣探花头衔*/
/*li.jinsom-honor-黑衣探花,#jinsom-honor-12992{border:unset;background-color:unset!important;color:#fff;font-size:12px;line-height:20px;border-radius:0;text-align:center;font-family:"Arima Madurai",serif;font-weight:400;margin: 0;}*/
.jinsom-honor-黑衣探花 h,#jinsom-honor-12992 h{width:20px;height:20px;border-radius:100%;display:inline-block;animation:slide 1s infinite;background:linear-gradient(315deg,#63a4ff 0,#83eaf1 74%)!important;margin-right:5px;}
.jinsom-honor-黑衣探花 h:nth-child(1),#jinsom-honor-12992 h:nth-child(1){animation-delay:0.1s;}
.jinsom-honor-黑衣探花 h:nth-child(2),#jinsom-honor-12992 h:nth-child(2){animation-delay:0.2s;}
.jinsom-honor-黑衣探花 h:nth-child(3),#jinsom-honor-12992 h:nth-child(3){animation-delay:0.3s;}
.jinsom-honor-黑衣探花 h:nth-child(4),#jinsom-honor-12992 h:nth-child(4){animation-delay:0.4s;}
@keyframes slide{
    0%{transform:scale(1);}
    50%{opacity:0.8;transform:scale(1.5);}
    100%{transform:scale(1);}
    to{filter:hue-rotate(360deg)}
}





.jinsom-bbs-list-1-info>div{line-height:20px}

.jinsom-bbs-single-content p em {
    font-style: normal;
    border-left: 5px #2196F3 solid;
    padding-left: 5px;
}




@keyframes bg-color {

  0% { background-color: #e74c3c; }

  20% { background-color: #f1c40f; }

  40% { background-color: #1abc9c; }

  60% { background-color: #3498db; }

  80% { background-color: #9b59b6; }

  100% { background-color: #e74c3c; }

}
@keyframes fade {
from {
opacity: 1.0;
}
50% {
opacity: 0.4;
}
to {
opacity: 1.0;
}
}


.gengxin a {
    color: #FF5722 !important;
}
.jinsom-index-notice {
    width: 1065px;
    margin: auto;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #f00;
}
#jinsom-shengming {
    border: 2px dotted #f00;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    color: #f00;
    font-size: 17px;
}
.jinsom-menu>ul>li k {
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #F44336;
    border-radius: 100%;
    position: absolute;
  top:12px;
}

.jinsom-link-desc {
    height: 44px;
    -webkit-line-clamp: 2;
}
.jinsom-show-bbs-box-header.user .number span:first-child i:before {
    content: '8';
}
.jinsom-show-bbs-box-header.user .number span:nth-child(2) i:before {
    content: '6';
}
.jinsom-show-bbs-box-header.user .number span:nth-child(3) i:before {
    content: '1';
}

/*头衔*/
.jinsom-honor-精神小伙 {
    background: #fff !important;
    border: 1px solid #ff1100 !important;
    line-height: 16px;
    color: #f00 !important;
    border-radius: 100px 0px 100px 100px !important;
}
.jinsom-honor-神{position: relative;background: linear-gradient(to right, #FF5722, #ff9800, #FFC107)!important;border-radius: 9px 5px 5px 9px;color: #fff;padding-right: 10px;}
.jinsom-honor-神:before{-webkit-animation: burn 0.9s linear alternate infinite;animation: burn .9s linear alternate infinite;right: -43px;top: -26px;z-index: 2;background: linear-gradient(0deg, #ffb305 10%, #FF9800 20%, #E91E63 50%, #e91e1e 99%);opacity: 0.7;position: absolute;content: "";transform: rotate(90deg);height: 70px;width: 35px;}
.jinsom-honor-神:after{z-index: 1;opacity: 1;-webkit-animation: burn_alt .7s linear alternate infinite;animation: burn_alt .7s linear alternate infinite;right: -45px;top: -32px;background: linear-gradient(0deg, #ffb305 10%, #ffbd04 20%, #ed6434 50%, #fa4708 59%);position: absolute;content: "";transform: rotate(90deg);height: 80px;width: 30px;}

.jinsom-honor-鸽王 {font-family: "jinsom-icon" !important;}
.jinsom-honor-鸽王:before {content: "\e6e2";margin-right: 3px;}

/*建党100周年*/
.jinsom-honor-100周年 {
    font-family: "jinsom-icon" !important;
    background: #e94658 !important;
    color: #fff;
}
.jinsom-honor-100周年:before {
    margin-right: 3px;
    content: "\e712";
}

.jinsom-honor-粽子 {
    background: rgba(255, 0, 0, 0) !important;
    text-indent: -9999px;
    position: relative;
    border: none !important;
    width: 26px;
    box-sizing: border-box;
}
.jinsom-honor-粽子:before {
    display: block;
    content: '';
    width: 26px;
    height: 26px;
    background-size: 26px;
    background-repeat: no-repeat;
    background-image: url(https://img.wpbase.cn/user_files/1/bbs/58010853_1593005088.png);
    position: absolute;
    top: -5px;
    left: 0;
}
.jinsom-member-left-honor li.jinsom-honor-粽子:before {
    top: 0;
}

/*个人主页*/
/*.jinsom-member-menu li>i {*/
/*    width: 5px;*/
/*    height: 5px;*/
/*    display: inline-block;*/
/*    background-color: #F44336;*/
/*    border-radius: 100%;*/
/*    position: absolute;*/
/*    top: 12px;*/
/*}*/
/*.jinsom-member-menu {*/
/*    padding: 0px 10px 0px;*/
/*}*/






body.author-14184 .jinsom-member-follow-info .follow, body.author-14184 .jinsom-member-follow-info .follow+span+span,body.author-14184 .jinsom-member-username span.jinsom-lv, body.author-14184 .jinsom-member-username span.jinsom-vip {display: none;}

/*新版*/
/*.jinsom-posts-list, .jinsom-header, .jinsom-sidebar-box, .jinsom-index-menu li,.jinsom-show-bbs-box,.jinsom-bbs-header-info, .jinsom-bbs-box {*/
/*    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);*/
/*}*/
/*.author .jinsom-header {*/
/*    background-color: rgb(255 255 255 / 80%);*/
/*}*/
/*.author .jinsom-menu-fixed {*/
/*    display: none;*/
/*}*/
/*.author .jinsom-header.fixed {*/
/*    background-color: #fff;*/
/*}*/
/*[type="publish-single"].author .jinsom-menu-fixed,[type="editor-single"].author .jinsom-menu-fixed,[type="publish-bbs"].author .jinsom-menu-fixed,[type="editor-bbs"].author .jinsom-menu-fixed,[type="publish-goods"].author .jinsom-menu-fixed{*/
/*    display: block;*/
/*}*/
/*[type="publish-single"].author .jinsom-header,[type="editor-single"].author .jinsom-header,[type="publish-bbs"].author .jinsom-header,[type="editor-bbs"].author .jinsom-header{*/
/*    background-color: #fff;*/
/*}*/

/*.jinsom-sidebar-login-btn {*/
/*    background-color: #444;*/
/*}*/


.jinsom-honor-一见钟情 {
    position: relative;
    background: none!important;
    color: #eb3f84;
    font-size: 12px;
    padding: 0!important;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 0 rgb(0 0 0 / 0%);
    animation: heart 2s ease infinite;
    -webkit-animation: heart 2s ease infinite;
    font-weight: bold;
    vertical-align: sub;
}
.jinsom-honor-一见钟情:before, .jinsom-honor-一见钟情:after {
    content: "❤";
    font-size: 25px;
    color: #eb3f84;
    position: relative;
    width: 30px;
    text-align: center;
    transform: scale(1);
}
.jinsom-honor-一见钟情:before {
    -webkit-animation: left 2s ease infinite;
    animation: left 2s ease infinite;
}
.jinsom-honor-一见钟情:after {
    -webkit-animation: right 2s ease infinite;
    animation: right 2s ease infinite;
}
@keyframes heart{0%{color: #eb3f84;}
30%{color: #fff0;}
50%{color: #fff0;}
70%{color: #fff0;}
100%{color: #eb3f84;}}
@keyframes left{0%{left: 0;transform: scale(1);}
40%{left: calc(50% - 15px);transform: scale(1);}
45%{left: calc(50% - 15px);transform: scale(1.5);}
50%{left: calc(50% - 15px);transform: scale(1);}
55%{left: calc(50% - 15px);transform: scale(1.5);}
60%{left: calc(50% - 15px);transform: scale(1);}
100%{left: 0;transform: scale(1);}}
@keyframes right{0%{right:0;transform: scale(1);}
40%{right:calc(50% - 15px);transform: scale(1);}
45%{right:calc(50% - 15px);transform: scale(1.5);}
50%{right:calc(50% - 15px);transform: scale(1);}
55%{right:calc(50% - 15px);transform: scale(1.5);}
60%{right:calc(50% - 15px);transform: scale(1);}
100%{right:0;transform: scale(1);}}

